/*  commom */
html{
  /* 16px x 62.5 = 10px = 1 rem*/
  font-size: 62.5%; 
  box-sizing:border-box;
}

body{
  margin:0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}



h1,h2,h3, h4 {
  margin: 0;
  font-weight: normal;
}

h1 {
  color: black;
}

h2 {
  color: white;
}

section {
  display: flex;
  flex-direction: column;
}


/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: lightblue;
} */



.bulkInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}
.title{
  padding: 1rem;
}

.totalGrid {
  display: grid;
  width: 300px;
  grid-template: repeat(4, 1fr) / 1fr 1fr;
}

.addStandGrid {
  display: grid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  grid-template: 1fr 1fr / 30% repeat(8, 1fr);
  justify-items: start;
}

.enterNewProduct, .chooseRoute {
  padding: 10px 30%;
  text-align: left;
}

.enterNewStandingProduct {
  text-align: center;
}

img {
  width: 40px;
}

.currentOrder {
  display: grid;
  width: 500px;
  margin: 20px auto;
  grid-template: repeat(4, 1fr) / 1fr 6fr 2fr 1fr 2fr 1fr;
  align-items: center;
}

.currentStandingOrder {
  display: grid;
  width: 90%;
  margin: 20px auto;
  grid-template: repeat(4, 1fr) / 30% repeat(8, 1fr);
  align-items: center;
  justify-items: start;
}

.submit, .fulfill {
  text-align: center;
  margin-top: 20px;
}

.chooseRoute {
  background-color: #dddddd;
}


.fulfill, .enterNewProduct {
  background-color: #eeeeee;
}
.buttons {
  text-align: center;
}

/* layout */
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr auto;
  height:100%;
}
header{
  grid-area: header;
  background-color: #eee4ac;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}
/* main{
  grid-area: main;
  padding: 0 0;
} */



/* header */
header .nav-item{
  color: #000000;
  padding:1rem;
  text-decoration: none;
}

a.brand{
  color: #581717;
  font-size: 3rem;
  font-weight: bold;
}

.nav-item:hover{
  color:#ff8000;
  cursor: pointer;
}

header {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  /* align-items: flex-start; */
} 
@media (min-width: 200px) and (max-width: 400px) {
  header{
    flex-direction: column;
    align-items: flex-start;
  }
  .grid-container{
    grid-template-rows: 9rem 1fr auto;
    height:100%;
  }
}
.nav {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* align-items: flex-start; */
} 



/* main */
main {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
}



/* footer */
footer{
  grid-area: footer;
  background-color: #642626;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

