
html{
  font-size: 62.5%; 
  box-sizing:border-box;
}

body{
  margin:0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* h1,h2,h3, h4 {
  margin: 0;
  font-weight: normal;
} */

/* h1 {
  color: black;
} */

.add-button{
  display:flex;
  justify-content: flex-end;
}

.customer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-card.card-transparent{
  background-color: rgba(252, 246, 238, 0.9);
}
.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

#Form.Item {
  text-align: left;
}

a {
  color: black;
}