.logo{
    height:32px;
    margin:10px;
    font-size: 20px;
    color:#ffffff;
    text-align:center;
}

.menu{
    min-height: 100%;
    color:antiquewhite;
}

.site-layout-background {
    background: #fff;
    padding: 24;
    min-height: 360;
}

.list-div{
    width: 100%;
}

.add-button{
  display:flex;
  justify-content: flex-end;
}

.customer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-card.half-transparent{
  background-color: rgba(252, 246, 238, 0.9);
}
.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

#Form.Item {
  text-align: left;
}