/* .list-div{
    width: 100%;
}

.add-button{
  display:flex;
  justifys-content: flex-end;
}

.customer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Form.Item {
  text-align: left;
} */