body  {
    font-family: "Montserrat", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}


h1,h2,h3, h4 {
    margin: 0;
    font-weight: normal;
}

h1 {
    color: blue;
}

h2 {
    color: white;
}

div {
    margin: 30px 30px;
}



nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    background-color: lightblue
}

main {
    width: 100%;
}

.bulkInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    ;
}

.totalGrid {
    display: grid;
    width: 300px;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
}

.addStandGrid {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template: 1fr 1fr / 30% repeat(8, 1fr);
    justify-items: start;
}

.enterNewProduct, .chooseRoute {
    padding: 10px 30%;
    text-align: left;
}

.enterNewStandingProduct {
    text-align: center;
}

img {
    width: 40px;
}


.currentOrder {
    display: grid;
    width: 500px;
    margin: 20px auto;
    grid-template: repeat(4, 1fr) / 1fr 6fr 2fr 1fr 2fr 1fr;
    align-items: center;
}

.currentStandingOrder {
    display: grid;
    width: 90%;
    margin: 20px auto;
    grid-template: repeat(4, 1fr) / 30% repeat(8, 1fr);
    align-items: center;
    justify-items: start;
}

.submit, .fulfill {
    text-align: center;
    margin-top: 20px;
}

.chooseRoute {
    background-color: #dddddd;
}


.fulfill, .enterNewProduct {
    background-color: #eeeeee;
}
.buttons {
    text-align: center;
}



/* css specific to customerAdmin.html */

.custName, .custDelivAddress, .custContact {
    width: 80%;
    text-align: center;
    display: grid;
    grid-template: 1fr 1fr / 200px 300px;
    grid-gap: 10px;
    justify-items: start;
    align-items: center;
}


/* css specific to index.html */


.wholesaleCust h2, .bpbAdmin h2, .logisticsPortal h2, .bakeryPortal h2 {
    color: black;
}
